.form{
    border: 1rem solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.lable{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.4rem;
}

.options1{
   width: 14rem;
   margin-left: 5rem;
   height: 1.5rem;
}

.options2{
    width: 14rem;
    margin-left: 3rem;
    height: 1.5rem;
 }

 .options3{
    width: 14rem;
    margin-left: 2rem;
    height: 1.5rem;
 }

 .options4{
    width: 14rem;
    margin-left: 2.2rem;
    height: 1.5rem;
 }

.inp1{
    width: 13rem;
    margin-left: 4.6rem;
    height: 1.5rem;
}

.inp2{
    width: 13rem;
    margin-left: 2rem;
    height: 1.5rem;
}